

.head1{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-align: center;
}

.head2{
    color:aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}




#image1{
    height: 70%;
    width: 60%;
    display: block;
    margin: auto;
}

#image2{
    height:400px;
    width:600px;
    border-radius: 20%;
}

#div1{
    height: 400px;
    width: 300px;
    background-color: aliceblue;
    overflow: auto; 
    margin: 10px; 
    box-shadow: 3px 5px #888888; 
}

.shoppinglist{
    display: flex;
}